

body {
	margin: 0px;
	width: 1366px;
}

.nav-link {
	height: 3vh;
	text-align: right;
}

.content {

}

.box1 {
	background-color: black;
	float: left;
	word-wrap: break-word;
	width: 35%;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width: 35%;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width: 30%;
	text-align: center;
}

.office-addrress {
	width: 1366px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width: 683px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width: 683px;

}

p{
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 100%; margin: 0px;
}

.box22 {
	width: 100%; margin: 0px;
}

.box33 {
	width: 100%; margin: 0px;
}

.nav {
	background-color: green;
}





@media (max-width:   600px) {

body {
	margin: 0px;
	width:   600px;
}
.nav-link {
	width:   600px;
	height: 3vh;
	text-align: right;
}

.content {
width:   600px;
}

.box1 {
	background-color: black;
	float: left;
	word-wrap: break-word;
	width:   600px;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width:   600px;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width:  600px;
	text-align: center;
}

.office-addrress {
	width:  600px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width:  600px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width:  600px;

}

p{width:   600px;
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 600px; margin: 0px;
}

.box22 {
	width: 600px; margin: 0px;
}

.box33 {
	width:   600px; margin: 0px;
}

.nav {width:   600px;
	background-color: green;
}
}

@media (orientation: landscape) {
  body {
	margin: 0px;
	width:   900px;
}
.nav-link {
	width:   900px;
	height: 3vh;
	text-align: right;
}

.content {
width:   900px;
}

.box1 {
	background-color: black;
	float: left;
	word-wrap: break-word;
	width:   900px;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width:   900px;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width:  900px;
	text-align: center;
}

.office-addrress {
	width:  900px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width:  900px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width: 900px;

}

p{width:  900px;
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 900px; margin: 0px;
}

.box22 {
	width: 6900px; margin: 0px;
}

.box33 {
	width:  900px; margin: 0px;
}

.nav {width: 900px;
	background-color: green;
}
}