@media screen and (max-width: 745px) {


body {
	margin: 0px;
	width:   745px;
}
.nav-link {
	width:    745px;
	height: 3vh;
	text-align: right;
}

.content {
width:    745px;
}

.box1 {
	background-color: greenyellow;
	float: left;
	word-wrap: break-word;
	width:    745px;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width:    745px;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width:   745px;
	text-align: center;
}

.office-addrress {
	width:   745px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width:   745px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width:   745px;

}

p{width:    745px;
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width:  745px; margin: 0px;
}

.box22 {
	width:  745px; margin: 0px;
}

.box33 {
	width:    745px; margin: 0px;
}

.nav {width:   745px;
	background-color: green;
}
}