

body {
	margin: 0px;
	width: 1366px;
}

.nav-link {
	height: 3vh;
	text-align: right;
}

.content {

}

.box1 {
	background-color: greenyellow;
	float: left;;
	float: left;
	word-wrap: break-word;
	width: 35%;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width: 35%;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width: 30%;
	text-align: center;
}

.office-addrress {
	width: 1366px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width: 683px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width: 683px;

}

p{
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 100%; margin: 0px;
}

.box22 {
	width: 100%; margin: 0px;
}

.box33 {
	width: 100%; margin: 0px;
}

.nav {
	background-color: green;
}





@media (max-width:   414px) {

body {
	margin: 0px;
	width:   414px;
}
.nav-link {
	width:   414px;
	height: 3vh;
	text-align: right;
}

.content {
width:   414px;
}

.box1 {
	background-color: greenyellow;
	float: left;
	word-wrap: break-word;
	width:   414px;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width:   414px;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width:  414px;
	text-align: center;
}

.office-addrress {
	width:  414px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width:  414px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width:  414px;

}

p{width:   414px;
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 414px; margin: 0px;
}

.box22 {
	width: 414px; margin: 0px;
}

.box33 {
	width:   414px; margin: 0px;
}

.nav {width:   414px;
	background-color: green;
}

body {
	margin: 0px;
	width:   745px;
}
.nav-link {
	width:   745px;
	height: 3vh;
	text-align: right;
}

.content {
width:   745px;
}

.box1 {
	background-color: greenyellow;
	float: left;
	word-wrap: break-word;
	width:   745px;
	text-align: center;
}

.box2 {
	background-color: aqua;
	float: left;
	word-wrap: break-word;
	width:   745px;
	text-align: center;
}

.box3 {
	background-color: blue;
	float: left;
	word-wrap: break-word;
	width:  745px;
	text-align: center;
}

.office-addrress {
	width:  745px;
}

.head-operations {
	float: left;
	background-color:purple;
	text-align: center;
	align-content: center;
	width: 745px;

}

.operations {
	float: left;
	background-color:gray;
	text-align: center;
	width: 745px;

}

p{width:   745px;
	font-size: 14px;
	word-wrap: break-word;
}




.box11 {
	width: 745px; margin: 0px;
}

.box22 {
	width: 4745px; margin: 0px;
}

.box33 {
	width:   745px; margin: 0px;
}

.nav {width:   745px;
	background-color: green;
}
}







